:root {
    --main-bg-color: rgb(60, 60, 60);
    --search-bar-color: rgb(40, 40, 40);
    --search-box-color: rgb(50, 50, 50);
    --main-button-color: rgb(0, 190, 190);
    --main-button-hover-color: rgb(0, 255, 255);
    --tweet-hover-border-color: rgba(30, 30, 30, 0.5);
    --tweet-hover-color: rgb(80,80,80);
    --create-tweet-color: rgb(55, 55, 55);
    --create-tweet-hover-color: rgb(70,70,70);
    --sidebar-list-hover-color: rgba(255, 255, 255, 0.2);
    --sidebar-list-selected-color: rgb(45, 45, 45);
    --sign-out-button-color: transparent;
    --sign-out-button-hover-color: rgb(218, 157, 45);
    --scroll-handle-color: rgb(160, 160, 160);
    --scroll-handle-hover-color: rgb(100, 100, 100);
}

* {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 16px;
}

.link {
    text-decoration: none;
}

.main-container {
    display: flex;
}

/************************* Search *************************/
.feed-search {
    background-color: var(--main-bg-color);
    height: 93vh;
    width: 80vw;
    overflow-y: auto;
    margin-top: 7vh;
}

.search-results-container {
    display: flex;
}

.search-results {
    display: flex;
}

.search {
    background-color: var(--search-bar-color);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    width: 100vw;
}

.search .search-box {
    background-color: var(--search-box-color);
    font-family: sans-serif;
    height: 2em;
    width: 50vw;
    border: none;
    border-radius: 200px;
    outline: none;
    padding: 0 2%;
}

.search-button {
    background-color: var(--main-button-color);
    border: none;
    padding: 0.5em 2em;
    margin-left: 1vw;
    position: flex;
    text-align: center;
    border-radius: 200px;
    transition: 300ms ease-in-out;    
}

.search-button:hover {
    background-color: var(--main-button-hover-color);
}

.feed-search .tweet-container {
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
}

.feed-search .tweet-container .tweet-profile-image {
    float: left;
    height: 6vh;
    border-radius: 250px;
    margin-right: 1%;
}

.feed-search .tweet-container .tweeted_image {
    display: block;
    height: 10vh;
    margin: 2vh auto;
}

.feed-search .tweet, .individual-tweet-main .tweet{
    text-decoration: none;
}

.feed-search .tweet-hover {
    border-bottom: 1px var(--tweet-hover-border-color) solid;
    min-height: 13vh;
}

.feed-search .tweet-hover:hover {
    background-color: var(--tweet-hover-color);
}

.feed-search h2 {
    font-size: small;
    margin-bottom: 1%;
    font-weight: 500;
}

.feed-search h1 i {
    font-size: small;
    font-weight: 400;
}

.feed-search p {
    display: inline;
    word-wrap: break-word;
}

/************************************************************/

/************************* Sidebar **************************/
.sidebar {
    background-color: var(--search-box-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width:20vw;
    height: 93vh;
    margin-top: 7vh;
}

.sidebar ul li {
    align-items: center;
    list-style: none;
    margin-bottom: 50%;
}

.sidebar ul li a {
    text-decoration: none;
    font-size: large;
    padding: 0.7em 1.7em;
    border-radius: 250px;
    transition: 300ms ease-in-out;
}

.sidebar ul li a:hover {
    background-color: var(--sidebar-list-hover-color);
    
}

.sidebar ul li .sign-out-button {
    background-color: var(--sign-out-button-color);
    transition: 300ms ease-in-out;
}

.sidebar ul li .sign-out-button:hover {
    background-color: var(--sign-out-button-hover-color);
    color: black;
}

.sidebar-button-selected { 
    background-color: var(--sidebar-list-selected-color);
}
/************************************************************/

/*************************** Feed ***************************/
.feed {
    background-color: var(--main-bg-color);
    height: 66vh;
    width: 80vw;
    overflow-y: auto;
    margin-top: 7vh;
    margin-bottom: 25vh;
}

.feed .tweet-container {
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
}

.feed .tweet-container .tweet-profile-image {
    float: left;
    height: 6vh;
    border-radius: 250px;
    margin-right: 1%;
}

.feed .tweet-container .tweeted_image {
    display: block;
    height: 10vh;
    margin: 2vh auto;
}

.feed .tweet, .individual-tweet-main .tweet{
    text-decoration: none;
}

.feed .tweet-hover {
    border-bottom: 1px var(--tweet-hover-border-color) solid;
    min-height: 13vh;
}

.feed .tweet-hover:hover,
.individual-tweet-main .tweet-hover:hover,
.replies .tweet-hover:hover {
    background-color: var(--tweet-hover-color);
}

.feed .tweet-actions,
.individual-tweet-main .tweet-actions,
.feed-search .tweet-actions,
.replies .tweet-actions {
    margin-left: 25%;
    margin-bottom: 1%;
}

.feed .tweet-actions h3,
.individual-tweet-main .tweet-actions h3,
.feed-search .tweet-actions h3,
.replies .tweet-actions h3 {
    display: inline;
    font-weight: 400;
}

.feed .tweet-actions .tweet-action-button,
.individual-tweet-main .tweet-actions .tweet-action-button,
.feed-search .tweet-actions .tweet-action-button,
.replies .tweet-actions .tweet-action-button {
    border: none;
    margin-left: 5%;
}

.feed .tweet-actions .tweet-action-button button,
.individual-tweet-main .tweet-actions .tweet-action-button button,
.feed-search .tweet-actions .tweet-action-button button,
.replies .tweet-actions .tweet-action-button button {
    background-color: transparent;
    border: none;
}

.feed h2,
.individual-tweet-main h2,
.feed-search h2,
.replies h2 {
    font-size: small;
    margin-bottom: 1%;
    font-weight: 500;
}

.feed h1 i,
.individual-tweet-main h1 i,
.feed-search h1 i,
.replies h1 i {
    font-size: small;
    font-weight: 400;
}

.feed p,
.individual-tweet-main p,
.feed-search p,
.replies p {
    display: inline;
    word-wrap: break-word;
}
/************************************************************/

/********************* Individual Tweet *********************/
.individual-tweet-main {
    background-color: var(--main-bg-color);
    height: auto;
}

.individual-tweet-main .tweet-container {
    margin-left: 5%;
    margin-right: 5%;
    padding: 4%;
}

.individual-tweet-main .tweet-container .tweet-profile-image {
    float: left;
    height: 10vh;
    border-radius: 250px;
    margin-right: 1%;
}

.individual-tweet-main .tweet-container img {
    display: block;
    height: 15vh;
}

.individual-tweet-main h2 {
    font-size: small;
    margin-bottom: 1%;
    font-weight: 500;
}

.individual-tweet-main h1 i {
    font-size:medium;
    font-weight: 400;
}

.individual-tweet-main p {
    display: inline;
    word-wrap: break-word;
}

.individual-tweet-main .tweet-hover {
    border-bottom: 1px var(--tweet-hover-border-color) solid;
    min-height: 23vh;
}

.individual-tweet-wrapper {
    display: block;
    width: 80vw;
    overflow-y: scroll;
    margin-bottom: 15vh;
    margin-top: 7vh;
}
/************************************************************/

/*********************** Replies ***********************/
.replies {
    background-color: var(--main-bg-color);
    height: auto;
    width: 80vw;
    margin-top: 0;
}

.replies-header {
    background-color: var(--main-bg-color);
    padding-left: 10vw;
    padding-bottom: 1vh;
    padding-top: 2vh;
    font-size: x-large;
}

.replies .tweet-container {
    margin-left: 15%;
    margin-right: 5%;
    padding: 4%;
}

.replies .tweet-container .tweet-profile-image {
    float: left;
    height: 6vh;
    border-radius: 250px;
    margin-right: 1%;
}

.replies .tweet-container img {
    display: block;
    height: 15vh;
}

.replies h2 {
    font-size: small;
    margin-bottom: 1%;
    font-weight: 500;
}

.replies h1 i {
    font-size:medium;
    font-weight: 400;
}

.replies p {
    display: inline;
    word-wrap: break-word;
}

.replies .tweet-hover {
    border-bottom: 1px var(--tweet-hover-border-color) solid;
    min-height: 23vh;
}
/************************************************************/

/*********************** Create Tweet ***********************/
.create-tweet {
    background-color: var(--create-tweet-color);
    position: fixed;
    bottom: 0;
    left: 20vw;
    right: 0;
    height: 25vh;
    padding: 1vh;
}

.create-tweet-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1vh;
    margin-right: 4vw;
}

.create-tweet h1 {
    height: 1em;
    width: 8em;
    display: inline;
    margin-left: 64vw;
    margin-right: 1vw;
    font-weight: 400;
    text-align: center;
}

.create-tweet-button {
    background-color: var(--main-button-color);
    border: none;
    padding: 0.7em 1.7em;
    text-align: center;
    border-radius: 100px;
    display: inline;
    transition: 300ms ease-in-out;
}

.create-tweet-button:hover {
    background-color: var(--main-button-hover-color);
}

.create-tweet .create-tweet-text {
    background-color: var(--main-bg-color);
    border: none;
    height: 15vh;
    width: 98%;
    outline: none;
    resize: none;
    font-family: sans-serif;
    padding: 1%;
    border-radius: 5px;
    transition: 100ms ease-in-out;
}

.create-tweet .create-tweet-text:hover {
    background-color: var(--create-tweet-hover-color);
}
/************************************************************/

/*********** Changes to Create Tweet for Replying ***********/
.reply-tweet h1 {
    height: 1em;
    width: 8em;
    display: inline;
    margin-left: 64vw;
    margin-right: 1vw;
    font-weight: 400;
    text-align: center;
}

.reply-tweet {
    background-color: var(--create-tweet-color);
    position: fixed;
    bottom: 0;
    left: 20vw;
    right: 0;
    height: 15vh;
    padding: 1vh;
}

.reply-tweet .create-tweet-text {
    background-color: var(--main-bg-color);
    border: none;
    height: 5vh;
    width: 98%;
    outline: none;
    resize: none;
    font-family: sans-serif;
    padding: 1%;
    border-radius: 5px;
    transition: 100ms ease-in-out;
}

.reply-tweet .create-tweet-text:hover {
    background-color: var(--create-tweet-hover-color);
}
/************************************************************/

/************************** Login ***************************/
.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--main-bg-color);
    height: 100vh;
    font-size: 5rem;
}

.login-container h4 {
    color: #FF6C00;
    font-family: sans-serif;
    font-size: 5em;
    display: inline;
}
.login-button {
    margin-top: 5vh;
    background-color: var(--main-bg-color);
    border: none;
}

.login-logo {
    height: 30vh;
}
/************************************************************/

/************************* Pin Page *************************/
.pin-container {
    background-color: var(--main-bg-color);
    height: 100vh;
    width: 100vw;
}

.pin-button-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pin-box {
    background-color: var(--tweet-hover-color);
    width: 7em;
    height: 1em;
    font-size: 128px;
    text-align: center;
    font-family: monospace;
}

.pin-box-button {
    font-size: 128px;
    width: 1em;
    height: 1em;
    background-color: black;
    color: white;
    text-align: center;
}
/************************************************************/

/************************* Profile *************************/
.profile {
    background-color: var(--main-bg-color);
    margin-top: 7vh;
    height: 30vh;
    border-bottom: 1px solid var(--tweet-hover-border-color);
    padding-bottom: 1%;
}

.profile-container {
    display: inline-block;
    font-size: 2em;
    padding: 5vh 5vw;
}

.profile h1 {
    text-align: center;
}

.profile .profile-img {
    height: 15vh;
    border-radius: 25em;
}
.profile-wrapper .feed-search {
    height: 63vh;
    margin-top:0;
}
/************************************************************/

/************************ Scrolling *************************/
/* Width */
::-webkit-scrollbar {
    width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--scroll-handle-color);
    border-radius: 2em;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-handle-hover-color);
}
/************************************************************/