* {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 16px;
}

.main-container {
    display: flex;
}

.search {
    background-color: rgb(40, 40, 40);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7%;
    width: 100vw;
}

.search .search-box {
    outline: none;
    border: none;
    height: 2em;
    width: 50%;
    border-radius: 2em;
    padding: 0 1%;
    background-color: rgb(50, 50, 50);
}

.sidebar {
    background-color: rgb(50, 50, 50);
    flex: 1 1 20%;
    display:flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li { 
    display: absolute;
    align-items: center;
    margin-bottom: 25%;
}

.sidebar ul li a {
    text-decoration: none;
    padding: 1em 3em;
    border-radius: 50px;
    font-size: large;
    transition: 300ms ease-in-out;
}

.sidebar ul li a:hover {
    background-color: rgb(60, 60, 60);;
}

.sidebar ul li .sign-out-button {
    background-color: rgb(150, 0, 0);
    transition: 300ms ease-in-out;
}

.sidebar ul li .sign-out-button:hover {
    background-color: rgb(201, 0, 0);
}

.main-home {
    background-color: rgb(60, 60, 60);
    flex: 1 1 80%;
    height: 75vh;
    overflow-y: auto;
}

.main-home .feed .tweet-container {
    display: flex;
    margin-top: 1%;
}

.main-home .feed .tweet-container .tweet-content h1 {
    margin-left: 4%;
    width: 100%;
}

.main-home .feed .tweet-container .tweet-content p {
    margin-left: 4%;
}

.main-home .feed .tweet-container a img {
    height: 75px;
    border-radius: 50%;
}

.main-home .feed .tweet-container p {
    margin-left: 1%;
}

.create-tweet {
    background-color: rgb(55, 55, 55);
    position: absolute;
    bottom: 0;
    left: 20%;
    right: 0;
    height: 25vh;
    padding: 1%;
}

.create-tweet .create-tweet-button {
    background-color: rgb(0, 190, 190);
    border: 1px solid gray;
    height: 3em;
    width: 7em;
    position: absolute;
    right: 1%;
    bottom: 2%;
    text-align: center;
    border-radius: 100px;
    transition: 300ms ease-in-out;
}

.create-tweet .create-tweet-button:hover {
    background-color: rgb(0, 255, 255);
}

.create-tweet .create-tweet-text {
    background-color: rgb(60, 60, 60);
    border: none;
    height: 70%;
    width: 98%;
    outline: none;
    resize: none;
    font-family: sans-serif;
    padding: 1%;
    border-radius: 5px;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(60, 60, 60);
    width: 100vw;
    height: 100vh;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }